#mc_embed_signup {
  background: #fff;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
}

#mc_embed_signup input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

#mc_embed_signup h2 {
  margin-bottom: 16px;
}
